body {
  text-align: center;
  background-color: #141313;
  color: #e8d5d5;
}

h1.hidden {
  display: none;
}

div.hidden-cards {
  display: none;
  width: 18rem;
  position: absolute;
  top: 10%;
  left: 2%;
}

#quit-round {
  display: none;
  position: absolute;
  top: 74%;
  right: 2%;
}

#new-q {
  display: none;
  position: absolute;
  top: 50%;
  right: 2%;
}

#solve {
  display: none;
  position: absolute;
  top: 62%;
  right: 2%;
}

#new-cat {
  display: none;
  position: absolute;
  top: 38%;
  right: 2%;
}

#letters-div {
  display: none;
  position: absolute;
  top: 15%;
  right: 14%;
}

.container-fluid {
  margin: 0 auto;
}

.goth-font {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  color: #992a2a;
}

 h3, h4 {
   margin: 0 auto;
   text-transform: uppercase;
 }

#nerd-out {
  margin-top: 5%;
}

#category-heading {
  margin-top: 4%;
}

 #trivia-game {
   margin-bottom: 5%;
 }

 h5 {
   font-family: 'Permanent Marker', cursive;
   color: #992a2a;
   font-size: 1.8em;
 }

 #mustardFoot {
   position: absolute;
   bottom: 10px;
   color: #e8d5d5;
   font-size: 0.8em;
 }

 .mustard {
   color: #e5b524;
 }

 .card {
   margin: 2%;
   margin-bottom: 2%;
   background-color: #e8d5d5;
   color: #141313;
   font-weight: 500;
 }

 .letter-btn {
   width: 35px;
   height: 35px;
   border-radius: 15%;
   background-color: #e8d5d5;
   color: #992a2a;
   box-shadow: 5px 10px 18px #992a2a;
 }

 #gameBoard {
   display: none;
   width: 45%;
   border: #992a2a;
 }

 #hint {
   display: none;
   width: 20%;
   border: #e8d5d5;
 }

 #blanks {
   display: none;
   width: 20%;
   border: #e8d5d5;
 }

 #answer {
   display: none;
   width: 20%;
   border: #e8d5d5;
 }

 .footer {
   position: absolute;
   bottom: 10px;
   right: 25px;
   color: #e8d5d5;
   font-size: 0.8em;
 }
