body {
  text-align: center;
}

h1.hidden {
  display: none;
}

div.hidden-cards {
  display: none;
}

#quit-round {
  display: none;
}

#hint-div {
  display: none;
}

#letters-div {
  display: none;
}

.container-fluid {
  margin: 0 auto;
}

.goth-font {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
}

 h3, h4 {
   margin: 0 auto;
   text-transform: uppercase;
 }

#nerd-out {
  margin-top: 5%;
}

#category-heading {
  margin-top: 4%;
}

 #trivia-game {
   margin-bottom: 5%;
 }

 h5 {
   font-family: 'Permanent Marker', cursive;
 }

 #mustard {
   position: absolute;
   bottom: 7.5%;
 }

 /*#card-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }*/

 .card {
   margin: 2%;
 }
